<{{view.tagName}} class='num posts-map posts {{view.likesHeat}}' title='{{view.title}}'>
<a href="{{topic-url topic}}"><span class="post-count-title answer">Kommentare:</span></>
<a class="answer-num" href="{{topic-url topic}}">{{number topic.replyCount noTitle="true"}}</a>
</{{view.tagName}}>
