<{{view.tagName}} class='num posts-map posts {{view.likesHeat}}' title='{{view.title}}'>
<span class="post-count-title">Antworten:</span>
<span>{{number topic.replyCount noTitle="true"}}</span>
</{{view.tagName}}>
