{{#if bulkSelectEnabled}}
  <td class="bulk-select">
    <input type="checkbox" class="bulk-select">
  </td>
{{/if}}

{{!--
  The `~` syntax strip spaces between the elements, making it produce
  `<a class=topic-post-badges>Some text</a><span class=topic-post-badges>`,
  with no space between them.
  This causes the topic-post-badge to be considered the same word as "text"
  at the end of the link, preventing it from line wrapping onto its own line.
--}}
<td class='main-link clearfix' colspan="1">
  <div class="link-bottom-line" data-created="{{topic.bumped_at}}">
    {{#unless hideCategory}}
      {{#unless topic.isPinnedUncategorized}}
        {{category-status topic.category}}
      {{/unless}}
    {{/unless}}
    {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}
    {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
  </div>
    <span class='link-top-line'>
    {{~raw-plugin-outlet name="topic-list-before-status"}}
        {{~raw "topic-status" topic=topic}}
        {{~topic-link topic class="raw-link raw-topic-link"}}
        {{~#if topic.featured_link}}
            {{~topic-featured-link topic}}
        {{~/if}}
        {{~raw-plugin-outlet name="topic-list-after-title"}}
            {{!--topic.created_at--}}
        {{~#if showTopicPostBadges}}
            {{~raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl newDotText=newDotText}}
        {{~/if}}
    </span>
    {{raw "list/topic-preview" topic=topic}}
    {{raw "list/topic-cooked" topic=topic}}
</td>
<div class="topic-info-row">

    {{raw "list/posts-count-column" topic=topic}}

    {{#if showParticipants}}
      {{raw "list/posters-column" posters=topic.participants}}
    {{/if}}

    {{#if showLikes}}
      <td class="num likes">
        {{#if hasLikes}}
          <a href='{{topic.summaryUrl}}'>
            {{number topic.like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
    {{/if}}

    {{#if showOpLikes}}
      <td class="num likes">
        {{#if hasOpLikes}}
          <a href='{{topic.summaryUrl}}'>
            {{number topic.op_like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
    {{/if}}
    <br>
    <div class="border-top"></div>
    <div class="second-part">
      <td class="num views {{topic.viewsHeat}}"><span class="post-view-count-title view-post">Aufrufe:</span>{{number topic.views numberKey="views_long"}}</td>

      <td class="num likes">
        <span class="post-view-count-title topic-custom-like">{{d-icon "heart"}}</span>
        {{number topic.like_count}}
      </td>

      <td class="num reply">
        <button class="btn btn-flat" id="reply-now-button">
          {{d-icon 'reply'}}
        </button>
      </td>
    </div>

    {{#if showLast3Posts}}
      <div class="last-3-posts">
        <article class="boxed onscreen-post wrapper-load-last-posts-action">
          <div class="row">
            <div class="topic-body topic-body-timeline clearfix">
              <div class="regular contents">
                <div style="padding-bottom: 12px;text-align: center;">
                  <a class="load-last-posts-action">Letzte 3 Beiträge laden</a>
                </div>
              </div>
            </div>
          </div>
        </article>
        {{#each topic.posts as |post|}}
          <article data-post-id="{{post.id}}" class="boxed onscreen-post hidden-timeline-post">
            <div class="row">
              <div class="topic-body topic-body-timeline clearfix">
                <div role="heading" aria-level="2" class="topic-meta-data">
                  <div class="names trigger-user-card"><span class="first username"><a href="/u/{{post.username}}">{{post.username}}</a></span></div>
                  <div class="post-infos">
                    <div class="post-info post-date">
                      <a class="post-date" href="/t/{{post.topic_slug}}/{{post.topic_id}}/{{post.post_number}}" data-share-url="/t/{{post.topic_slug}}/{{post.topic_id}}/{{post.post_number}}">
                        <span data-post-created="{{post.created_at}}"></span></a>
                      </div>
                  </div>
                </div>
                <div class="regular contents">
                  <div class="cooked">
                    {{{post.cooked}}}
                  </div>
                </div>
              </div>
            </div>
          </article>
        {{/each}}
      </div>
    {{/if}}

  {{raw "list/activity-column" topic=topic class="num" tagName="td"}}
</div>
