<div class="topic-preview-cont">
  {{~#if topic.image_url}}
    <a href="{{topic-url topic}}"
       title="{{topic-title topic}}"
       class="topic-preview-link">
      <img src="{{topic.image_url}}"
           class="topic-preview">
    </a>
  {{else if topic.video_url}}
    <a href="{{topic-url topic}}"
       title="{{topic-title topic}}"
       class="topic-preview-link">
      <iframe src="{{topic.video_url}}?controls=0&showinfo=0"
              class="topic-preview topic-preview-video"
              width="659"
              height="370"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </a>
  {{~/if}}
</div>